$white:white;
$sedans-color: hsl(31, 77%, 52%);
$suvs-color: hsl(184, 100%, 22%);
$luxury-color:hsl(179, 100%, 13%);
$font-family: 'Lexend Deca', sans-serif;
$h2-font: 'Big Shoulders Display', cursive;
$desktop:850px;
$font-size: 15px;