@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body{
    display: flex;
    margin:0;
    align-items: center;
    justify-content: center;
    color:white;
}
button{
    margin-left:40px;
}
.sedans button {
    background-color: white;
    color:hsl(31, 77%, 52%);
    border-radius: 30px;
    border-color: white;
    margin: 20px;
    font-family: 'Lexend Deca', sans-serif;
    padding:13px 20px;
    font-weight: 400;
    border-style: none;
}
.suvs button {
    background-color: white;
    color:hsl(184, 100%, 22%);
    border-radius: 30px;
    border-color: white;
    margin: 20px;
    font-family: 'Lexend Deca', sans-serif;
    padding:13px 20px;
    font-weight: 400;
    border-style: none;
}
.luxury button {
    background-color: white;
    color:hsl(179, 100%, 13%);
    border-radius: 30px;
    border-color: white;
    margin: 20px;
    font-family: 'Lexend Deca', sans-serif;
    padding:13px 20px;
    font-weight: 400;
    border-style: none;
}
button:hover{
    cursor: pointer;
    color:white;
    border:2px solid white;
    
}
.sedans button:hover{
    background-color:hsl(31, 77%, 52%) ;
}
.suvs button:hover{
    background-color: hsl(184, 100%, 22%);
}
.luxury button:hover{
    background-color: hsl(179, 100%, 13%);
}
p{
    width:250px;
    margin-left: 30px;
    margin-right: 30px;
}
h2{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    text-align: left;
}
.suvs{
    background-color: hsl(184, 100%, 22%) ;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}
.luxury{
   background-color:  hsl(179, 100%, 13%);
   font-family: 'Lexend Deca', sans-serif;
   font-size: 15px;
}
@media screen and (max-width: 500px) {
    .sedans .suvs .luxury{
        width:200px;
        margin-left: 20px;
        margin-right: 20px;
    }
    main{
        margin-left: 50px;
        display: grid;
    }
    .luxury{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: none;
        grid-area: 3/1/4/2;
        height:300px;
     }
     .sedans{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: none;
        grid-area:1/1/2/2;
        height:300px;
     }
    .suvs{
        grid-area:2/1/3/2;;
        height:300px;
    }
    img{
        margin-left:30px;
        margin-top: 30px;
    }
    h2{
        margin-left: 30px;
    }
    p{
        margin-bottom: 50px;
    }
  }
  @media screen and (min-width: 500px) {
    .luxury{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; 
        grid-area:1/3/2/4;
        height: 500px;
     }
     .sedans{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        grid-area: 1/1/2/2;
        height: 500px;
    }
    .suvs{
        grid-area:1/2/2/3;
        height: 500px;
   }
    p{
        width:200px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 100px;
    }
    img{
        margin-left:30px;
        margin-top: 30px;
    }
    h2{
        margin-left: 40px;
    }
    main{
        display:grid;
        margin-top:200px;
    }
}
